@charset "UTF-8";
#bg-video {
    position: fixed;   
    top: 0;
    left: 0;
    min-width: 100%;   
    min-height: 100%; 
    z-index: -1;      
    object-fit: cover; 
}

body {
		  
		  min-height: 100vh; 
		  margin: 0; 
		  font-family: sans-serif; 
		}
		.nav{
			display:flex;
			align-items:center;
			justify-content:center;
		}
		.nav a{
			color:white;
			}
		
		.container {
		  border: none; 
		  width: 400px; 
		  background-color: rgba(255, 255, 255, 0.2); 
		  padding: 20px; 
		  border-radius: 15px; 
		  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
		  text-align:center;
		}
		
		.login-header, .footer {
		  height: 70px; 
		}
		
		#bg-video {
		  position: fixed;
		  top: 0;
		  left: 0;
		  min-width: 100%;
		  min-height: 100%;
		  z-index: -1; 
		  object-fit: cover;
		}
		
		.maincont {
		  display: flex;
		  flex-direction: column; 
		  align-items: center; 
		  justify-content: center;
		}
		
		h1 {
		  font-size: 36px;
		  margin-bottom: 20px; 
		}
		
		form {
		  display: flex; 
		  flex-direction: column;
		}
		
		form label { 
		  display: block;
		  margin-bottom: 5px;
		}
		
		input[type="text"], input[type="password"], input[type="email"] {
		  padding: 10px;
		  border: 1px solid #ccc;
		  margin-bottom: 10px;
		}
		
		input[type="submit"] {
		  background-color: #08c2ff;
		  color: white;
		  padding: 10px 20px;
		  border: none;
		  cursor: pointer;
		  border-radius: 3px;
		  font-size:15px;
		}
		
		a {
		  color: #08c2ff;
		  text-decoration: none; 
		}
		button {
			margin: 9px 12px;
		    padding: 10px 20px;
		    background-color: #08c2ff;
		    color: white;
		    border: none;
		    border-radius: 5px;
		    cursor: pointer;
		    font-size:15px;
		}
		
		footer {
	    text-align: center;
	    margin:0;
	    font-size: 14px;
	    padding: 16px 20px;
		}
		
		footer p {
		    margin: 0;
		    color: black;
		}
		
		.footer-container {
			background-color: rgba(255, 255, 255, 0.2);
		    padding: 20px;
		    border-radius: 10px;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}