
@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
#bg-video {
    position: fixed;   
    top: 0;
    left: 0;
    min-width: 100%;   
    min-height: 100%;  
    z-index: -1;       
    object-fit: cover; 
}



.container {
    max-width: 500px;
    height:200px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}

input[type="text"] {
    flex: 1;
    padding: 12px 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #08c2ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.footer-container {
	background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


